
/Simple.Query.Tests/bin/Debug/Mono.Security.dll
/Simple.Query.Tests/bin/Debug/Npgsql.dll
/Simple.Query.Tests/bin/Debug/Npgsql.pdb
/Simple.Query.Tests/bin/Debug/Npgsql.xml
/Simple.Query.Tests/bin/Debug/Simple.Query.Tests.XML
/Simple.Query.Tests/bin/Debug/Simple.Query.Tests.dll
/Simple.Query.Tests/bin/Debug/Simple.Query.Tests.pdb
/Simple.Query.Tests/bin/Debug/Simple.Query.dll
/Simple.Query.Tests/bin/Debug/Simple.Query.pdb
/Simple.Query.Tests/bin/Debug/Simple.Query.xml
/Simple.Query.Tests/bin/Debug/TestResult.xml
/Simple.Query.Tests/bin/Debug/nunit.framework.dll
/Simple.Query.Tests/obj/Debug/ResolveAssemblyReference.cache
/Simple.Query.Tests/obj/Debug/Simple.Query.Tests.dll
/Simple.Query.Tests/obj/Debug/Simple.Query.Tests.fsproj.FileListAbsolute.txt
/Simple.Query.Tests/obj/Debug/Simple.Query.Tests.pdb
/Simple.Query/bin/Debug/Mono.Security.dll
/Simple.Query/bin/Debug/Npgsql.dll
/Simple.Query/bin/Debug/Npgsql.pdb
/Simple.Query/bin/Debug/Npgsql.xml
/Simple.Query/bin/Debug/Simple.Query.XML
/Simple.Query/bin/Debug/Simple.Query.dll
/Simple.Query/bin/Debug/Simple.Query.pdb
/Simple.Query/obj/Debug/ResolveAssemblyReference.cache
/Simple.Query/obj/Debug/Simple.Query.dll
/Simple.Query/obj/Debug/Simple.Query.fsproj.FileListAbsolute.txt
/Simple.Query/obj/Debug/Simple.Query.pdb